@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: 'Poppins';
  margin: 0;
  background: #BFD8AF;
}

.container {
  background: #b1cda0;
  padding: .1em;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-size: 20px;
  padding: .5em;
  margin: 5em;
  text-decoration: none;
  color: white;
}

@keyframes navborder {
  0% {
    border-bottom-width: 0px;
  }

  100% {
    border-bottom-width: 5px;
  }
}

.navbar a:hover {
  animation: navborder .3s ease;
  border-bottom: 5px solid #99BC85;
}

.current {
  font-weight: bold;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 5em;
  margin-bottom: 3em;
}

.section img {
  height: 25em;
  width: 20em;
  margin: auto 2em;
}

.section li {
  list-style: none;
  margin-bottom: 3em;
}

.section ul,
.section span {
  width: 140px;
}

h1,
p,
.section li {
  color: white
}

.text p {
  margin-bottom: 5em;
}

.konsert {
  height: 30em;
  margin: 2em;
}

.text h1,
p,
.imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.guitar {
  height: 200px;
  background-image: url(../images/strata.png);
  background-repeat: no-repeat;
  background-position: center;
}